<a href="https://colab.research.google.com/github/sushily1997/Python-Basics/blob/main/3_Python_Basics_Operators_and_output_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
#𝗢𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀

In [49]:
#1) 𝗔𝗿𝗶𝘁𝗵𝗺𝗲𝘁𝗶𝗰 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀:+,-,*,/,%,//,**

In [1]:
a=34
b=8
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b= 42
a-b= 26
a*b= 272
a/b= 4.25
a//b= 4
a%b= 2
a**b= 1785793904896

In [3]:
a=21
b=4
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b= 25
a-b= 17
a*b= 84
a/b= 5.25
a//b= 5
a%b= 1
a**b= 194481

In [52]:
#𝗥𝗲𝗹𝗮𝘁𝗶𝗼𝗻𝗮𝗹 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀:>,>=,<,<=

In [5]:
a=34
b=42
print("a > b is ",a>b)
print("a >= b is ",a>=b)
print("a < b is ",a<b)
print("a <= b is ",a<=b)

a > b #is False
a >= b #is False
a < b #is True
a <= b #is True

a > b is  False
a >= b is  False
a < b is  True
a <= b is  True

True

In [6]:
a=+41
b=-56
print("a>b is ",a>b)
print("a>=b is ",a>=b)
print("a<b is ",a<b)
print("a<=bis ",a<=b)

a>b is  True
a>=b is  True
a<b is  False
a<=bis  False

In [53]:
#3) 𝗘𝗾𝘂𝗮𝗹𝗶𝘁𝘆 𝗼𝗽𝗲𝗿𝗮𝘁𝗶𝗼𝗻𝘀:==,!=

In [7]:
-20==10 #False

False

In [10]:
10==10

True

In [11]:
10!=10

False

In [8]:
10!= -20

True

In [9]:
0==True

False

In [14]:
1==True

True

In [15]:
True==True

True

In [17]:
False==False

True

In [18]:
10==10==10==10

True

In [19]:
20==21==10==10

False

In [20]:
10==10==20==20

False

In [54]:
#4) 𝗟𝗼𝗴𝗶𝗰𝗮𝗹 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀:𝗮𝗻𝗱,𝗼𝗿,𝗻𝗼𝘁

In [23]:
16 and 30

30

In [22]:
4 & 5

4

In [25]:
4 and 5

5

In [26]:
0 and 20

0

In [27]:
20 and 0

0

In [30]:
#x or y:
#If x evaluates to True then result is x otherwise result is y
print(15 or 25) # 15
0 or 25 # 25

15

25

In [31]:
print(0 or 1)

1

In [43]:
print (0 or 3+(3-2))

4

In [34]:
print (20 or 20+3)

20

In [44]:
print (20*6 or 23)

120

In [36]:
print (0 or 0.1)

0.1

In [55]:
#not x:
#If x is evalutates to False then result is True otherwise False
print(not 10) # False
not 0 # True

False

True

In [57]:
# 𝗕𝗶𝘁𝘄𝗶𝘀𝗲 𝗮𝗻𝗱 𝘀𝗵𝗶𝗳𝘁 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀

In [58]:
#6)𝗕𝗶𝘁𝘄𝗶𝘀𝗲 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀:

In [62]:
# Complement Operator
~45 #Formula ~= -45-1

-46

In [64]:
~7 #Formula ~=-7+8

-8

In [71]:
#Left shift

In [69]:
a=80 # 0001 0100 #two zeros at right end got discarded --> 0000 0101
a>>6

1

In [78]:
# Bitwise "and" operator
a=60
b= 7
a&b

4

In [79]:
# bitwise or operator
a=60 
b=7
a|b

63

In [80]:
# bitwise XOR "^" Operator
a=88
b= 2
a^b

90

In [81]:
#7) 𝗔𝘀𝘀𝗶𝗴𝗻𝗺𝗲𝗻𝘁 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀:+=,-=,*=,/=,%=,//=,××=,&=,|=,^=,>>=,<<=

In [84]:
x=5
x+=45
x-=35
x*=23
print(x) # 345

345

In [85]:
#8) 𝗧𝗲𝗿𝗻𝗮𝗿𝘆 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿 𝗢𝗥 𝗖𝗼𝗻𝗱𝗶𝘁𝗼𝗻𝗮𝗹 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿

In [88]:
# Eg 1:

a,b=45,20

x=30 if a<b else 40
print(x)

40

In [92]:
# Program for Minimum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

Enter First Number:56
Enter Second Number:34
Enter Third Number:69
Minimum Value: 34

In [116]:
#Homework

In [114]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=c if a>b and a>c else a if b>a else b
print("Maximum Value:",max)

Enter First Number:23
Enter Second Number:48
Enter Third Number:10
Maximum Value: 23

In [101]:
#𝗜𝗱𝗲𝗻𝘁𝗶𝘁𝘆 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀: 𝗜𝘀 , 𝗶𝘀 𝗻𝗼𝘁

In [102]:
# Eg:
a=10
b=10
print(a is b) # True 
print(a is not b)

True
False

In [103]:
#2)𝗠𝗲𝗺𝗯𝗲𝗿𝘀𝗵𝗶𝗽 𝗼𝗽𝗲𝗿𝗮𝘁𝗼𝗿𝘀

In [95]:
# Eg:
x="hello learning Python is very easy!!!"
print('h' in x)# True
print('d' in x) #False
print('d' not in x) #True
print('Python' in x) #True
print('z' in x)

True
False
True
True
False

In [104]:
#𝗠𝗮𝘁𝗵 𝗺𝗼𝗱𝘂𝗹𝗹𝗲

In [105]:
#1)𝗜𝗺𝗽𝗼𝗿𝘁 𝗺𝗮𝘁𝗵
#2)𝗽𝗿𝗶𝗻𝘁(𝗺𝗮𝘁𝗵.𝘀𝗾𝗿𝘁(16))
#3)𝗽𝗿𝗶𝗻𝘁(𝗺𝗮𝘁𝗵.𝗽𝗶)

In [96]:
import math
math.sqrt(13)

3.605551275463989

In [97]:
# Other important functions in math module
from math import ceil, floor, factorial, trunc, gcd, sin,cos,tan

print(ceil(80.35))
print(floor(80.85))
print(pow(30,40))
print(factorial(2))
print(trunc(20.55))
print(gcd(8,40))
print(sin(30))
print(cos(30))
print(tan(30))

81
80
121576654590569288010000000000000000000000000000000000000000
2
20
8
-0.9880316240928618
0.15425144988758405
-6.405331196646276

In [98]:
# Important variables
'''pi = 3.14
   inf = infinity
   nan = not a number'''

'pi = 3.14\n   inf = infinity\n   nan = not a number'

In [126]:
#𝗛𝗼𝗺𝗲𝘄𝗼𝗿𝗸
#𝘄𝗿𝗶𝘁𝗲 𝗮 𝗽𝘆𝘁𝗵𝗼𝗻 𝗽𝗿𝗼𝗴𝗿𝗮𝗺 𝘁𝗼 𝗳𝗶𝗻𝗱 𝗮𝗿𝗲𝗮 𝗼𝗳 𝗰𝗶𝗿𝗰𝗹𝗲

In [127]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:8
Area of a circle = 200.96

In [106]:
#𝗘𝘃𝗮𝗹𝘂𝗮𝘁𝗲

In [107]:
x = eval("20+40+60")
print(x)

120

In [108]:
#𝗢𝘂𝘁𝗽𝘂𝘁 𝗦𝘁𝗮𝘁𝗲𝗺𝗲𝗻𝘁𝘀:

In [109]:
#We can use escape characters
print("Jay \n maharashtra")

Jay
 maharashtra

In [110]:
#print with variable number of arguments
a,b,c=20,25,56
print("The Values are :",a,b,c)

The Values are : 20 25 56

In [117]:
# By default output values are seperated by space.If we want we can specify seperator by using "sep" attribute
a,b,c=10,20,30
print(a,b,c,sep=',')

10,20,30

In [120]:
a,b,c=24,36,45
print(a,b,c,sep=':')

24:36:45

In [121]:
# If we want output in the same line with space
print("Welcom",end=' ')
print("To",end=' ')
print("python")

Welcom To python

In [122]:
'''1) %i == int
   2) %d == int
   3) %f == float
   4) %s == String type'''

a=11
b=28
c=36
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 11
b value is 28 and c value is 36

In [125]:
s="Maharashtra"
list1=[10,20,30,40]
print("Hello %s,good morning %s" %(s,list1))

Hello Maharashtra,good morning [10, 20, 30, 40]