<a href="https://colab.research.google.com/github/sushily1997/Python-Basics-test/blob/main/4_Python_Basic_Flow_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Conditional Statements

1) if

if condition : statement

OR

if condition :

statement-1

statement-2

statement-3

In [ ]:
#If condition is true then statements will be executed:
name = input("Enter Name:")
if name=="My name is sushil yeotiwad":
  print("Im from dharmabad")
  print("I am A student")

Enter Name:My name is sushil yeotiwad
Im from dharmabad
I am A student

In [ ]:
#If condition is true then statements will be executed.
name = input("Enter Name :")
if name=="rahul":
  print("rahul")
  print("kalidas")

Enter Name :rahul
rahul
kalidas

In [ ]:
# Write a Program to find Biggest of given 2 Numbers from the Commad Prompt?
n1=int(input("EnterFirstNumber:"))
n2=int(input("EnterSecondNumber:"))
if n1>n2:
  print("Biggest Number is:",n1)
else:
  print("Biggest Number is:",n2)

EnterFirstNumber:32
EnterSecondNumber:34
Biggest Number is: 34

Homework:

1) Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

2) Write a program to find smallest of given 2 numbers?

3) Write a program to find smallest of given 3 numbers?

4) Write a program to check whether the given number is even or odd?

In [ ]:
# Write a Program to find Biggest of given 3 Numbers?
n1 = int(input("Enter First Number :"))
n2 = int(input("Enter Second Number :"))
n3 = int(input("Enter Third Number :"))
if n1>n2 and n1>n3:
  print("Biggest Number is:" ,n1)
elif n2>n1 and n2>n3:   
  print("Biggest Number is:" ,n2)
else:
  print("Biggest Number is:" ,n3)

Enter First Number :21
Enter Second Number :34
Enter Third Number :44
Biggest Number is: 44

In [ ]:
# Write a Program to find Smallest of given 2 Numbers?
n1 = int(input("Enter First Number :"))
n2 = int(input("Enter Second Number :"))
if n1<n2:
  print("Smallest Number Is : " ,n1)
else:
  print("Smallest Number Is : " ,n2)

Enter First Number :34
Enter Second Number :10
Smallest Number Is :  10

In [ ]:
# Write a Program to find Smallest of given 3 Numbers?
n1 = int(input("Enter First Number : "))
n2 = int(input("Enter Second Number : "))
n3 = int(input("Enter Third Number : "))
if n1<n2 and n1<n3:
  print("Smallest Number is : " ,n1)
elif n2<n3 and n2<n1:
  print("Smallest number is : " ,n2)
else:
  print("smallest Number is : " ,n3)

Enter First Number : 23
Enter Second Number : 21
Enter Third Number : 54
Smallest number is :  21

In [ ]:
# python program to cheak if the input number is odd or even.
#A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1,it is an odd number.
nun=int(input("Enter a number:"))
if (nun % 2)== 0:
  print("{0} is Even".format(nun))
else:
  print("{0} is odd".format(nun))

Enter a number:23
23 is odd

2) Iterative Statements:


Python supports 2 types

for loop

while loop

֍ for loop:

In [ ]:
# To print characters present in the given string:
x = "maharashtra"
for y in x:
  print(y)

m
a
h
a
r
a
s
h
t
r
a

In [ ]:
x="Maharashtra"
for y in x:
 print(y,end=' ')

M a h a r a s h t r a

In [ ]:
# To print Success 18 times:
for x in range(18):
  print("Happy")

Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy

In [ ]:
# To display odd numbers from 0 to 23:
for x in range (24):
  if (x%2 !=0):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
# To display numbers from 18 to 2 in descending order:
for a in range(18, 0, -2):
  print(a)

18
16
14
12
10
8
6
4
2

In [ ]:
# To print sum of numbers presenst inside list
a = eval(input("EnterList : "))
sum=0
for x in list:
 sum=sum+x;
print("The Sum=",sum)

EnterList : 4,8,16,32
The Sum= 15

2) While Loop

In [ ]:
# To print numbers from 1 to 10 by using while loop

x=2
while x<=10:
 print(x)
 x=x+1

2
3
4
5
6
7
8
9
10

In [ ]:
# To display the sum of first n numbers

n=int(input("Enternumber:"))
sum=0
i=2
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first",n,"numbers is:",sum)

Enternumber:6
The sum of first 6 numbers is: 20

In [ ]:
#Infinite Loops
i=0;
while True:
  i=i+1;
  print("Hello",i)

In [ ]:
#Nested Loop
# we can take a loop inside another loop,which are also known as nested loops.
for i in range(8):
  for j in range(6):
    print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 0  j= 3
i= 0  j= 4
i= 0  j= 5
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 1  j= 3
i= 1  j= 4
i= 1  j= 5
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2
i= 2  j= 3
i= 2  j= 4
i= 2  j= 5
i= 3  j= 0
i= 3  j= 1
i= 3  j= 2
i= 3  j= 3
i= 3  j= 4
i= 3  j= 5
i= 4  j= 0
i= 4  j= 1
i= 4  j= 2
i= 4  j= 3
i= 4  j= 4
i= 4  j= 5
i= 5  j= 0
i= 5  j= 1
i= 5  j= 2
i= 5  j= 3
i= 5  j= 4
i= 5  j= 5
i= 6  j= 0
i= 6  j= 1
i= 6  j= 2
i= 6  j= 3
i= 6  j= 4
i= 6  j= 5
i= 7  j= 0
i= 7  j= 1
i= 7  j= 2
i= 7  j= 3
i= 7  j= 4
i= 7  j= 5

3) Transfer Statements

1) break:

In [ ]:
for i in range(24):
 if i==21:
   print("processing is enough..plz break")
   break
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
processing is enough..plz break

In [ ]:
for i in range(18):
 if i==16:
   print("processing is enough..plz break")
   break
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
processing is enough..plz break

In [ ]:
#2) continue

In [ ]:
# Eg 1: To print odd numbers in the range 0 to 21
for i in range(22):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21

In [ ]:
cart=[10,20,50,550,60,70]
for item in cart:
  if item>=500:
    print("We cannot process this item :",item)
    continue
  print(item)

10
20
50
We cannot process this item : 550
60
70

In [ ]:
numbers=[10,20,0,5,0,30]
for n in numbers:
  if n==0:
    print("Hey how we can divide with zero..just skipping")
    continue
  print("100/{} = {}".format(n,1.5/n))

100/10 = 0.15
100/20 = 0.075
Hey how we can divide with zero..just skipping
100/5 = 0.3
Hey how we can divide with zero..just skipping
100/30 = 0.05

Loops With else block

else

In [ ]:
cart=[10,20,30,40,50]
for item in cart:
  if item>=51:
     print("We cannot process this order")
     break
  print(item)
else:
  print("Congrats ...all items processed successfully")

10
20
30
40
50
Congrats ...all items processed successfully

3) pass statement:

In [ ]:
for i in range(90):
  if i%9==0:
    print(i)
  else:
    pass

0
9
18
27
36
45
54
63
72
81